:root{
    --bg-color-header: black;
    --text-color: white;
    --header-height: 66px;
}

body {
    margin: 0px;
}

.header{
    position: absolute;
    width: 100%;
    height: var(--header-height);
    background-color: var(--bg-color-header);
    color:var(--text-color);
}

#content{
    position: absolute;
    width: 100%;
    height: calc(100% - var(--header-height));
    margin-top: var(--header-height);
}
